.assignment-container{
   width: 100%;
   max-width: 600px;
}

.hey-guys {
   color: white;
}
.click-the-card {
   font-style: italic;
}
.assignement-parent-container{
   max-height: 75vh;
   overflow-y: scroll;
}
.assignments-ul-container{
   padding: 0px;
   height: 100%;
}
.assignments-ul-container li{
   list-style-type: none;
}
.error-note{
   text-align: left !important;
   width: 100%;
   text-wrap: wrap !important;
}
.imp-note{
   padding: 5px 10px;
   background-color: red;
   border-radius: 10px;
   color: white;
   font-weight: 500;
}