body {
    margin: 0px;
    user-select: none;
}
.main-container {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quations-container {
    min-height: 100vh;
    width: 100%;
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 150px; */
}

.scrolling-text-container {
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    text-wrap: nowrap;
}
.scrolling-text {
    animation: scroll 10s linear infinite; /* Adjust duration and timing function as needed */
}
.marquee-class {
    color: white;
    margin-bottom: 10px;
    text-align: center;
}
.star {
    width: 48px;
    font-style: italic;
 }
 @media screen and (min-width:567px) {
    .quations-container{
        margin-top: 40px;
    }
    .scrolling-text {
        animation: scroll 15s linear infinite; /* Adjust duration and timing function as needed */
    }
}
.poster-newyear{
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    border: 10px solid white;
    border-radius: 10px
}
.time-heading{
    color: white;
    background-color: #0d1952;
    width: 100%;
    max-width: 600px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid white;
    margin-bottom: 20px;
}
.full-date{
    font-size: 18px;
    font-style: italic;
}
.student-details-card{
    color: white;
    background-color: #0d1952;
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid white;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.name-of-the-student{
    margin: 0px;
    font-size: 15px;
}
.full-name{
    font-style: italic;
    color: rgb(0, 255, 0);
}
/* End Home Comntainer Class Names */



.content-heading {
    margin: 0px;
}

.nav-pills {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.sub-name {
    font-size: 20px;
    font-style: italic;
}
.short-name {
    margin: 0px;
    font-weight: 500;
    /* text-align: center; */
}

.ol-list {
    padding-left: 18px;
}

.alers-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.quation-tag {
    color: black;
    text-decoration: none;
}



/* YourComponent.css */
 
@keyframes scroll {
   from {
     transform: translateX(100%); /* Start off-screen to the right */
   }
   to {
     transform: translateX(-100%); /* Move off-screen to the left */
   }
 }
 .hr-line{
    height:2px;
    border-width:0;
    color:gray;
    background-color:white;
 }
 .notice-board {
    background-color: black;
    border: 8px solid white;
    border-radius: 10px;
}

.notice-heading {
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 0px;
}
.loadin-main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0d1952;
    color: white;
}

  
.text {
    color: white;
    font-style: italic;
  }
.pencil {
    display: block;
    width: 10em;
    height: 10em;
  }
  
  .pencil__body1,
  .pencil__body2,
  .pencil__body3,
  .pencil__eraser,
  .pencil__eraser-skew,
  .pencil__point,
  .pencil__rotate,
  .pencil__stroke {
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .pencil__body1,
  .pencil__body2,
  .pencil__body3 {
    transform: rotate(-90deg);
  }
  
  .pencil__body1 {
    animation-name: pencilBody1;
  }
  
  .pencil__body2 {
    animation-name: pencilBody2;
  }
  
  .pencil__body3 {
    animation-name: pencilBody3;
  }
  
  .pencil__eraser {
    animation-name: pencilEraser;
    transform: rotate(-90deg) translate(49px,0);
  }
  
  .pencil__eraser-skew {
    animation-name: pencilEraserSkew;
    animation-timing-function: ease-in-out;
  }
  
  .pencil__point {
    animation-name: pencilPoint;
    transform: rotate(-90deg) translate(49px,-30px);
  }
  
  .pencil__rotate {
    animation-name: pencilRotate;
  }
  
  .pencil__stroke {
    animation-name: pencilStroke;
    transform: translate(100px,100px) rotate(-113deg);
  }
  
  /* Animations */
  @keyframes pencilBody1 {
    from,
      to {
      stroke-dashoffset: 351.86;
      transform: rotate(-90deg);
    }
  
    50% {
      stroke-dashoffset: 150.8;
   /* 3/8 of diameter */
      transform: rotate(-225deg);
    }
  }
  
  @keyframes pencilBody2 {
    from,
      to {
      stroke-dashoffset: 406.84;
      transform: rotate(-90deg);
    }
  
    50% {
      stroke-dashoffset: 174.36;
      transform: rotate(-225deg);
    }
  }
  
  @keyframes pencilBody3 {
    from,
      to {
      stroke-dashoffset: 296.88;
      transform: rotate(-90deg);
    }
  
    50% {
      stroke-dashoffset: 127.23;
      transform: rotate(-225deg);
    }
  }
  
  @keyframes pencilEraser {
    from,
      to {
      transform: rotate(-45deg) translate(49px,0);
    }
  
    50% {
      transform: rotate(0deg) translate(49px,0);
    }
  }
  
  @keyframes pencilEraserSkew {
    from,
      32.5%,
      67.5%,
      to {
      transform: skewX(0);
    }
  
    35%,
      65% {
      transform: skewX(-4deg);
    }
  
    37.5%, 
      62.5% {
      transform: skewX(8deg);
    }
  
    40%,
      45%,
      50%,
      55%,
      60% {
      transform: skewX(-15deg);
    }
  
    42.5%,
      47.5%,
      52.5%,
      57.5% {
      transform: skewX(15deg);
    }
  }
  
  @keyframes pencilPoint {
    from,
      to {
      transform: rotate(-90deg) translate(49px,-30px);
    }
  
    50% {
      transform: rotate(-225deg) translate(49px,-30px);
    }
  }
  
  @keyframes pencilRotate {
    from {
      transform: translate(100px,100px) rotate(0);
    }
  
    to {
      transform: translate(100px,100px) rotate(720deg);
    }
  }
  
  @keyframes pencilStroke {
    from {
      stroke-dashoffset: 439.82;
      transform: translate(100px,100px) rotate(-113deg);
    }
  
    50% {
      stroke-dashoffset: 164.93;
      transform: translate(100px,100px) rotate(-113deg);
    }
  
    75%,
      to {
      stroke-dashoffset: 439.82;
      transform: translate(100px,100px) rotate(112deg);
    }
  }