.sub-container {
   background-color: #020c38;
   background-image: linear-gradient(to right, #020c38, #054042);
   padding: 10px 0px;
   width: 100vw;
   position: fixed;
   top: 0;
   z-index: 1000;

}
.heading {
   margin: 0px;
   font-family: Roboto;
   text-align: center;
   color: white;
   font-size: 20px;
}
.note-para {
   margin: 0px;
   text-align: center;
   font-size: 13px;
   color: white;
   margin-top: 7px;
   font-weight: 500;
   font-style: italic;
}